

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" type="text/css" href="~/Content/estilo.css" />
    <title></title>
</head>
<body>
    <center>
    <div>
        
        <img src="~/Photos/-Errors-.jpg"/>
        <br />
        <h1><a> No se encuentra el auto con ese ID</a></h1>
        <br />
    <a href="~/Home/Index"> <input type="submit" value="Volver al menu" /></a>
    </div>
        </center>
</body>
</html>
